body {
    font-family: "Poppins", sans-serif;
    
}


h1  {
    color: #03050d;
    text-align: center;
    font-size: 45px;
    font-family: "Boldonse", system-ui;
}

h2, h3, h4, h5, h6 {
    font-family: "Boldonse", system-ui;    
}
ul,ol {
    list-style: none;
}

.container-drone { 
    border: 2px solid #dc143c;
    width: 50%;
    min-height: 300px;
   /* margin: 50px 10px 150px 250px;*/
   margin: 50px auto;
   padding: 20px;
   box-sizing: border-box; /*sempre usa o box-sizing sempre que usar o padding*/
   text-align: center;
}

.container-blue {background-color: rgb(62, 142, 179);}
.container-red {background-color: rgb(183, 56, 56);}
.container-green {background-color: rgb(77, 218, 131);}

img {
    width: 80%;
    border-radius: 8px 80px 8px 80px;
}

a {
    color: #dc143c;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    transition: all .7s;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

.gradient {
    background-image: linear-gradient(
      270deg,
      hsl(240deg 100% 20%) 1%,
      hsl(319deg 100% 30%) 39%,
      hsl(346deg 83% 51%) 47%,
      hsl(30deg 100% 55%) 50%,
      hsl(55deg 100% 50%) 51%,
      hsl(69deg 89% 57%) 51%,
      hsl(90deg 94% 65%) 50%,
      hsl(122deg 98% 72%) 49%,
      hsl(157deg 100% 50%) 49%,
      hsl(180deg 100% 44%) 50%,
      hsl(197deg 100% 50%) 53%,
      hsl(210deg 100% 50%) 61%,
      hsl(241deg 100% 50%) 99%
    );
  }